* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mukta', sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;

    background: var(--color-seashell);
}

.nav {
    padding: 10px 10vw;
    display: flex;
    justify-content: space-between;
}

.brand-logo {
    height: 35px;
    filter: invert(51%) sepia(10%) saturate(847%) hue-rotate(129deg) brightness(87%) contrast(87%);
}

.nav-items {
    display: flex;
    align-items: center;
}

.search {
    width: 500px;
    display: flex;
}

.search-box {
    width: 80%;
    height: 40px;
    padding: 10px;

    text-transform: capitalize;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #d1d1d1;
    background: none;
    outline: none;
}

.search-btn {
    width: 20%;
    height: 40px;
    padding: 10px 20px;

    color: var(--color-seashell);
    text-transform: capitalize;
    font-size: 15px;

    border: none;
    outline: none;
    background: var(--color-steelteal);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    cursor: pointer;
}

.search-box::placeholder {
    color: #a9a9a9;
}

.nav-items a {
    margin-left: 20px;
}

.nav-items img {
    width: 30px;

}

.link-container {
    width: 100%;
    display: flex;
    padding: 10px 10vw;

    list-style: none;

    justify-content: center;
    border-top: 1px solid #d1d1d1;
}

.link {
    padding: 0 10px;
    margin: 0 5px;

    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-steelteal);
    opacity: 0.5;

    transition: 0.5s;
}

.link:hover {
    opacity: 1;
}